<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.x.x/css/jquery.terminal.min.css"/>
    <title>
      Stickers do Calango HackerClube!
    </title>
    <script>
      $(function () 
       {
     
         $('#stickers').terminal({ 
          greetings: "Calango Stickers! Calango Stickers! Calango Stickers! Calango Stickers!"
          });

      }
      );
    </script>
  </head>
  <body>
    <style>
    .logo {
            width: 420px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10;
            display: block;
    }
    </style>
    <img src="{% static "img/logo.png" %}" class="logo">
    {% block content %}
    {% endblock %}
    <p>Improve it! <a href=https://github.com/jeanlandim/calango_stickers_api> Github do projeto </a> </p>
  </body>
</html>
